*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rang{
    background-color: rgb(217, 217, 217) !important;
    transition: 0.7s !important;
}

.containers{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 0px;
    background-color: black;
    transition: 0.7s !important;
    
    
    .container1{
        background-color: black;
        display: flex;
        transition: 0.7s !important;


    }
}

@media (max-width: 900px){
    .container1{
        flex-direction: column !important;
    }

    .Hide{
        display: none !important;
    }
}
@media (min-width: 900px){
    .Hide1{
        display: none !important;
    }

}
